<!-- filename: anotherpage.handlebars -->
<!-- authors: Will Alley -->


<!DOCTYPE html>

<!-- Main page content -->
<section id="page">
  



<div class="panelizer-view-mode node node-full node-press-article node-323326">
        <div class="panel-display panel-basic-single-content-col" >

    <div class="panel-panel panel-wrapper panel-col-section-all">

      <div class="panel-panel panel-col panel-col-section-menu">
       <div class="panel-pane pane-block pane-menu-block-forall-secondary-nav" >
  
        <h2 class="pane-title">From the Press Office</h2>
    
  
  <div class="menu-block-wrapper menu-block-forall_secondary_nav menu-name-sixteenhundred-main-nav parent-mlid-0 menu-level-3">
  <ul class="menu"><li class="menu__item is-active-trail is-leaf first leaf active-trail odd depth-3 no-children" data-position="1"><a href="/briefing-room/speeches-and-remarks" class="menu__link is-active-trail is-active active active-trail">Speeches &amp; Remarks</a></li>
<li class="menu__item is-leaf leaf even depth-3 no-children" data-position="2"><a href="/briefing-room/press-briefings" class="menu__link">Press Briefings</a></li>
<li class="menu__item is-leaf leaf odd depth-3 no-children" data-position="3"><a href="/briefing-room/statements-and-releases" class="menu__link">Statements &amp; Releases</a></li>
<li class="menu__item is-leaf leaf even depth-3 no-children" data-position="4"><a href="/briefing-room/nominations-and-appointments" class="menu__link">Nominations &amp; Appointments</a></li>
<li class="menu__item is-collapsed collapsed odd depth-3 no-children" data-position="5"><a href="/briefing-room/presidential-actions" class="menu__link">Presidential Actions</a></li>
<li class="menu__item is-leaf leaf even depth-3 no-children" data-position="6"><a href="/briefing-room/legislation" class="menu__link">Legislation</a></li>
<li class="menu__item is-leaf last leaf odd depth-3 no-children" data-position="7"><a href="/briefing-room/disclosures" class="menu__link">Disclosures</a></li>
</ul></div>

  
  </div>
      </div>

      <div id="content-start" class="panel-panel panel-col panel-col-section-content" tabindex="-1">
       <div class="panel-pane pane-custom pane-1 clearfix" >
      <div class="videos-intro-field videos-intro-forall-body forall-body">
      <div class="whr-read-more-wrapper">
        <div class="press-article-header-wrapper">
  <div id="press_article_heading" class="press-article-heading">
    <div id="press_article_heading_title" class="heading-title">The White House</div>
    <div id="press_article_heading_subtitle" class="heading-subtitle">Office of the Press Secretary</div>
  </div>
  <div id="press_article_subheading" class="clearfix press-article-subheading">
    <div id="press_article_immediate_release" class="press-article-release">For Immediate Release</div>
    <div id="press_article_date_created" class="press-article-date">April 03, 2017</div>
  </div>
</div>      </div>
    </div>
  </div>
<div class="panel-pane pane-node-title" >
  
      
  
  <h1>Remarks by President Trump and President Al-Sisi of Egypt Before Bilateral Meeting</h1>

  
  </div>
<div class="panel-pane pane-entity-field pane-node-field-forall-body" >
  
      
  
  
  <div class="field field-name-field-forall-body field-type-text-long field-label-hidden forall-body">
        <div class="field-items">
              <div class="field-item even"><p class="rtecenter">
	Oval Office</p>

<p>
	12:04 P.M. EDT</p>

<p>
	PRESIDENT TRUMP: &nbsp;It's great to be with the President of Egypt. &nbsp;And I will tell you, President al-Sisi has been somebody that's been very close to me from the first time I met him. &nbsp;I met during the campaign, and at that point there were two of us, and we both met. &nbsp;And hopefully you like me a lot more. &nbsp;But it was very long. &nbsp;It was supposed to be just a quick brief meeting, and we were with each other for a long period of time. &nbsp;We agreed on so many things. &nbsp;</p>

<p>
	I just want to let everybody know, in case there was any doubt, that we are very much behind President al-Sisi. &nbsp;He's done a fantastic job in a very difficult situation. &nbsp;We are very much behind Egypt and the people of Egypt. &nbsp;And the United States has, believe me, backing, and we have strong backing. &nbsp;We are very much -- and as you and I will be soon talking -- we're building up our military to a level that will be the highest -- probably the highest that we've ever had -- plane orders, ship orders, aircraft carrier orders.</p>

<p>
	We are rejuvenating our military to the highest level I think in these times, probably more than ever before, or certainly almost more than ever before. &nbsp;That's what we need. &nbsp;</p>

<p>
	And I just want to say to you, Mr. President, that you have a great friend and ally in the United States and in me.</p>

<p>
	PRESIDENT AL-SISI: &nbsp;(As interpreted.) &nbsp;Your Excellency, allow me to extend my thanks and appreciation for your kind invitation for me to visit the United States. &nbsp;Actually, this is my first state visit to the United States since my inauguration in office. &nbsp;And, as a matter of fact, this is the first visit in eight years from an Egyptian president to the United States. &nbsp;</p>

<p>
	Your Excellency, since we met last September, I’ve had a deep appreciation and admiration of your unique personality, especially as you are standing very strong in the counterterrorism field to counter this evil ideology that is claiming innocent lives, that is bringing devastation to communities and nations, and that is terrorizing innocent people. &nbsp;</p>

<p>
	Your Excellency, very strongly and very openly, you will find Egypt and myself always beside you in this, in bringing about an effective strategy in the counterterrorism.</p>

<p>
	The second point, Your Excellency, is that you’ll find me supporting you very strongly and very earnestly in finding solution to the problem of the century. &nbsp;And I’m quite confident that you will be able to bring a solution to this issue. &nbsp;</p>

<p>
	PRESIDENT TRUMP: &nbsp;We will -- that I tell you. &nbsp;We will. &nbsp;</p>

<p>
	PRESIDENT AL-SISI: &nbsp;Yes. &nbsp;Thank you very much. &nbsp;</p>

<p>
	PRESIDENT TRUMP: &nbsp;We will do that together. &nbsp;We will fight terrorism and other things, and we’re going to be friends for a long, long period of time. &nbsp;We have a great bond with the people of Egypt, and I look forward to working with the President. &nbsp;And we have some interesting conversations going to start effective immediately, and then we’re going into the Cabinet Room and we’re going to meet with your representatives.</p>

<p>
	So again, thank you very much for coming. &nbsp;And I look forward to a very long and strong relationship.</p>

<p>
	END&nbsp;<br />
	12:09 P.M. EDT</p>
</div>
          </div>
  </div>

  
  </div>
      </div>

      <div class="panel-panel panel-col panel-col-section-share">
        <div id = "section-share-wrapper">
                  </div>
      </div>

    </div>

            
</div>
</div>
</section>
<!-- /Main page content -->