<!-- filename: anotherpage.handlebars -->
<!-- authors: Will Alley -->


<!DOCTYPE html>

<!-- Main page content -->
<section id="page">
  



<div class="panelizer-view-mode node node-full node-press-article node-323326">
        <div class="panel-display panel-basic-single-content-col" >

    <div class="panel-panel panel-wrapper panel-col-section-all">

      <div class="panel-panel panel-col panel-col-section-menu">
       <div class="panel-pane pane-block pane-menu-block-forall-secondary-nav" >
  
        <h2 class="pane-title">From the Press Office</h2>
    
  
  <div class="menu-block-wrapper menu-block-forall_secondary_nav menu-name-sixteenhundred-main-nav parent-mlid-0 menu-level-3">
  <ul class="menu"><li class="menu__item is-active-trail is-leaf first leaf active-trail odd depth-3 no-children" data-position="1"><a href="/briefing-room/speeches-and-remarks" class="menu__link is-active-trail is-active active active-trail">Speeches &amp; Remarks</a></li>
<li class="menu__item is-leaf leaf even depth-3 no-children" data-position="2"><a href="/briefing-room/press-briefings" class="menu__link">Press Briefings</a></li>
<li class="menu__item is-leaf leaf odd depth-3 no-children" data-position="3"><a href="/briefing-room/statements-and-releases" class="menu__link">Statements &amp; Releases</a></li>
<li class="menu__item is-leaf leaf even depth-3 no-children" data-position="4"><a href="/briefing-room/nominations-and-appointments" class="menu__link">Nominations &amp; Appointments</a></li>
<li class="menu__item is-collapsed collapsed odd depth-3 no-children" data-position="5"><a href="/briefing-room/presidential-actions" class="menu__link">Presidential Actions</a></li>
<li class="menu__item is-leaf leaf even depth-3 no-children" data-position="6"><a href="/briefing-room/legislation" class="menu__link">Legislation</a></li>
<li class="menu__item is-leaf last leaf odd depth-3 no-children" data-position="7"><a href="/briefing-room/disclosures" class="menu__link">Disclosures</a></li>
</ul></div>

  
  </div>
      </div>

      <div id="content-start" class="panel-panel panel-col panel-col-section-content" tabindex="-1">
       <div class="panel-pane pane-custom pane-1 clearfix" >
      <div class="videos-intro-field videos-intro-forall-body forall-body">
      <div class="whr-read-more-wrapper">
        <div class="press-article-header-wrapper">
  <div id="press_article_heading" class="press-article-heading">
    <div id="press_article_heading_title" class="heading-title">The White House</div>
    <div id="press_article_heading_subtitle" class="heading-subtitle">Office of the Press Secretary</div>
  </div>
  <div id="press_article_subheading" class="clearfix press-article-subheading">
    <div id="press_article_immediate_release" class="press-article-release">For Immediate Release</div>
    <div id="press_article_date_created" class="press-article-date">May 9th, 1850</div>
  </div>
</div>      </div>
    </div>
  </div>
<div class="panel-pane pane-node-title" >
  <h1>{{{title}}}</h1>
  </div>
<div class="panel-pane pane-entity-field pane-node-field-forall-body" >
  
      
  
  
  <div class="field field-name-field-forall-body field-type-text-long field-label-hidden forall-body">
        <div class="field-items">
              <div class="field-item even">
				{{{text}}}
  			</div>
  		</div>
   </div>

      <div class="panel-panel panel-col panel-col-section-share">
        <div id = "section-share-wrapper">
                  </div>
      </div>

    </div>
</div>
 </div>           
</div>
</div>
</section>
<!-- /Main page content -->