<!-- filename: home.handlebars -->
<!-- authors: Will Alley, JP McCluskey -->
      <div class="panel-panel panel-col panel-col-section-menu">
       <div class="panel-pane pane-block pane-menu-block-forall-secondary-nav" >
  
        <h2 class="pane-title">From the Press Office</h2>
    
  
  <div class="menu-block-wrapper menu-block-forall_secondary_nav menu-name-sixteenhundred-main-nav parent-mlid-0 menu-level-3">
  <ul class="menu"><li class="menu__item is-active-trail is-leaf first leaf active-trail odd depth-3 no-children" data-position="1"><a href="/briefing-room/speeches-and-remarks" class="menu__link is-active-trail is-active active active-trail">Speeches &amp; Remarks</a></li>
<li class="menu__item is-leaf leaf even depth-3 no-children" data-position="2"><a href="/briefing-room/press-briefings" class="menu__link">Press Briefings</a></li>
<li class="menu__item is-leaf leaf odd depth-3 no-children" data-position="3"><a href="/briefing-room/statements-and-releases" class="menu__link">Statements &amp; Releases</a></li>
<li class="menu__item is-leaf leaf even depth-3 no-children" data-position="4"><a href="/briefing-room/nominations-and-appointments" class="menu__link">Nominations &amp; Appointments</a></li>
<li class="menu__item is-collapsed collapsed odd depth-3 no-children" data-position="5"><a href="/briefing-room/presidential-actions" class="menu__link">Presidential Actions</a></li>
<li class="menu__item is-leaf leaf even depth-3 no-children" data-position="6"><a href="/briefing-room/legislation" class="menu__link">Legislation</a></li>
<li class="menu__item is-leaf last leaf odd depth-3 no-children" data-position="7"><a href="/briefing-room/disclosures" class="menu__link">Disclosures</a></li>
</ul></div>

  
  </div>
      </div>




      <div id="content-start" class="panel-panel panel-col panel-col-section-content" tabindex="-1">
       <div class="panel-pane pane-node-title" >

  <h1>Belches and Remarks</h1>

  </div>
  <div class="panel-pane pane-views-panes pane-press-office-listings-panel-pane-1" > 
    <div class="view view-press-office-listings view-id-press_office_listings view-display-id-panel_pane_1 view-dom-id-6d5483174dffb0651fe0d954f9fcee44">
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
          <div class="views-field views-field-created">
            <span class="field-content">April 03, 2017</span> 
          </div>  
          <div class="views-field views-field-title">       
            <h3 class="field-content"><a href="/anotherpage">{{title1}}</a></h3>
          </div> 
        </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-created">
    <span class="field-content">April 01, 2017</span>  
  </div>  
  <div class="views-field views-field-title">
    <h3 class="field-content"><a href="/anotherpage2">{{title2}}</a></h3>
  </div>
</div>
<div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-created">        <span class="field-content">March 31, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/anotherpage3">{{title3}}</a></h3>  </div>  </div>
  <div class="views-row views-row-4 views-row-even">

