<!-- filename: home.handlebars -->
<!-- authors: Will Alley, JP McCluskey -->

      <div id="content-start" class="panel-panel panel-col panel-col-section-content" tabindex="-1">
       <div class="panel-pane pane-node-title" >
  
      
  
  <h1>Belches and Remarks</h1>

  
  </div>
<div class="panel-pane pane-views-panes pane-press-office-listings-panel-pane-1" >
  
      
  
  <div class="view view-press-office-listings view-id-press_office_listings view-display-id-panel_pane_1 view-dom-id-6d5483174dffb0651fe0d954f9fcee44">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-created">        <span class="field-content">April 03, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/04/03/remarks-president-trump-and-president-al-sisi-egypt-bilateral-meeting">{{title1}}</a></h3>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-created">        <span class="field-content">April 01, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/04/01/remarks-vice-president-dynalab-inc-reynoldsburg-oh">{{title2}}</a></h3>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-created">        <span class="field-content">March 31, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/03/31/remarks-president-trump-et-al-signing-trade-executive-orders">{{title3}}</a></h3>  </div>  </div>
  <div class="views-row views-row-4 views-row-even">
      
