<!-- filename: home.handlebars -->
<!-- authors: Will Alley, JP McCluskey -->

    <div class="panel-panel panel-wrapper panel-col-section-all">

      <div class="panel-panel panel-col panel-col-section-menu">
       <div class="panel-pane pane-block pane-menu-block-forall-secondary-nav" >
  
        <h2 class="pane-title"><span class="active-trail nolink">From the Press Office</span></h2>
    
  
  <div class="menu-block-wrapper menu-block-forall_secondary_nav menu-name-sixteenhundred-main-nav parent-mlid-0 menu-level-3">
  <ul class="menu"><li class="menu__item is-active is-active-trail is-leaf first leaf active-trail active menu-mlid-5891 odd depth-3 no-children" data-position="1"><a href="/briefing-room/speeches-and-remarks" class="menu__link is-active-trail active-trail active">Speeches &amp; Remarks</a></li>
<li class="menu__item is-leaf leaf menu-mlid-5896 even depth-3 no-children" data-position="2"><a href="/briefing-room/press-briefings" class="menu__link">Press Briefings</a></li>
<li class="menu__item is-leaf leaf menu-mlid-5901 odd depth-3 no-children" data-position="3"><a href="/briefing-room/statements-and-releases" class="menu__link">Statements &amp; Releases</a></li>
<li class="menu__item is-leaf leaf menu-mlid-142711 even depth-3 no-children" data-position="4"><a href="/briefing-room/nominations-and-appointments" class="menu__link">Nominations &amp; Appointments</a></li>
<li class="menu__item is-collapsed collapsed menu-mlid-5911 odd depth-3 no-children" data-position="5"><a href="/briefing-room/presidential-actions" class="menu__link">Presidential Actions</a></li>
<li class="menu__item is-leaf leaf menu-mlid-5916 even depth-3 no-children" data-position="6"><a href="/briefing-room/legislation" class="menu__link">Legislation</a></li>
<li class="menu__item is-leaf last leaf menu-mlid-142716 odd depth-3 no-children" data-position="7"><a href="/briefing-room/disclosures" class="menu__link">Disclosures</a></li>
</ul></div>

  
  </div>
      </div>

      <div id="content-start" class="panel-panel panel-col panel-col-section-content" tabindex="-1">
       <div class="panel-pane pane-node-title" >
  
      
  
  <h1>Speeches and Remarks</h1>

  
  </div>
<div class="panel-pane pane-views-panes pane-press-office-listings-panel-pane-1" >
  
      
  
  <div class="view view-press-office-listings view-id-press_office_listings view-display-id-panel_pane_1 view-dom-id-6d5483174dffb0651fe0d954f9fcee44">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-created">        <span class="field-content">April 03, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/04/03/remarks-president-trump-and-president-al-sisi-egypt-bilateral-meeting">Remarks by President Trump and President Al-Sisi of Egypt Before Bilateral Meeting</a></h3>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-created">        <span class="field-content">April 01, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/04/01/remarks-vice-president-dynalab-inc-reynoldsburg-oh">Remarks by the Vice President to Dynalab Inc, Reynoldsburg, OH</a></h3>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-created">        <span class="field-content">March 31, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/03/31/remarks-president-trump-et-al-signing-trade-executive-orders">Remarks by President Trump et al. at Signing of Trade Executive Orders</a></h3>  </div>  </div>
  <div class="views-row views-row-4 views-row-even">
      
  <div class="views-field views-field-created">        <span class="field-content">March 31, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/03/31/remarks-president-trump-listening-session-national-association">Remarks by President Trump in Listening Session with the National Association of Manufacturers</a></h3>  </div>  </div>
  <div class="views-row views-row-5 views-row-odd">
      
  <div class="views-field views-field-created">        <span class="field-content">March 31, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/03/31/president-donald-j-trumps-weekly-address">President Donald J. Trump’s Weekly Address</a></h3>  </div>  </div>
  <div class="views-row views-row-6 views-row-even">
      
  <div class="views-field views-field-created">        <span class="field-content">March 29, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/03/29/remarks-vice-president-and-ambassador-friedman-swearing-ceremony">Remarks by Vice President and Ambassador Friedman at a Swearing-in Ceremony</a></h3>  </div>  </div>
  <div class="views-row views-row-7 views-row-odd">
      
  <div class="views-field views-field-created">        <span class="field-content">March 29, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/03/29/remarks-president-trump-womens-empowerment-panel">Remarks by President Trump at Women&#039;s Empowerment Panel</a></h3>  </div>  </div>
  <div class="views-row views-row-8 views-row-even">
      
  <div class="views-field views-field-created">        <span class="field-content">March 29, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/03/29/remarks-president-trump-listening-session-opioids-and-drug-abuse">Remarks by President Trump in Listening Session on Opioids and Drug Abuse </a></h3>  </div>  </div>
  <div class="views-row views-row-9 views-row-odd">
      
  <div class="views-field views-field-created">        <span class="field-content">March 28, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/03/28/remarks-president-trump-signing-executive-order-create-energy">Remarks by President Trump at Signing of Executive Order to Create Energy Independence </a></h3>  </div>  </div>
  <div class="views-row views-row-10 views-row-even views-row-last">
      
  <div class="views-field views-field-created">        <span class="field-content">March 28, 2017</span>  </div>  
  <div class="views-field views-field-title">        <h3 class="field-content"><a href="/the-press-office/2017/03/28/remarks-president-trump-listening-session-fraternal-order-police">Remarks by President Trump in Listening Session with the Fraternal Order of Police</a></h3>  </div>  </div>
    </div>