<!-- filename: main.handlebars-->
<!-- authors: Will Alley -->

<!DOCTYPE html>
<html>
<head>
	<title>AltFacts.gov</title>
</head>
<body>
	<header>
	<p>Welcome to AltFacts.gov your number Juan source of Fake News!</p>
	</header>
	{{{body}}}
	<footer>
	<p>Copyright 2019</p>
	</footer>
</body>
</html>